@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- shows all signals propigated in the page -->
<pre data-json-signals></pre>

<!-- test form controls -->
<main class="container" id="main" data-signals="{'formInput':'', 'output':'empty' }">
    <button data-on:click="@@get('/displayDate')">Display Date</button>
    <div id="target"></div>
    <br />
    <input type="text" placeholder="input:" data-bind:form-input data-on:keyup="@@post('/changeOutput')" /><br />
    <span data-text="$output"></span>
    <br />
    <button data-on:click="@@post('/resetInput')">Revert signals</button>
</main>

<br />
<br />

<!-- little test todo app -->
<section id="todomvc" data-init="@@get('/examples/todomvc/updates')">
    <header id="todo-header">
        <input type="checkbox" data-on:click__prevent="@@post('/examples/todomvc/-1/toggle')" data-init="el.checked = false" />
        <input id="new-todo"
               type="text"
               placeholder="What needs to be done?"
               data-signals:todo-input
               data-bind:todo-input
               data-on:keydown="evt.key === 'Enter' && $todoInput.trim() && @@patch('/examples/todomvc/-1') && ($todoInput = '');" />
    </header>
    <ul id="todo-list">
        <!-- Todo items are dynamically rendered here -->
    </ul>
    <div id="todo-actions">
        <span>
            <strong>0</strong> items pending
        </span>
        <button class="small info" data-on:click="@@put('/examples/todomvc/mode/0')">
            All
        </button>
        <button class="small" data-on:click="@@put('/examples/todomvc/mode/1')">
            Pending
        </button>
        <button class="small" data-on:click="@@put('/examples/todomvc/mode/2')">
            Completed
        </button>
        <button class="error small" aria-disabled="true">
            Delete
        </button>
        <button class="warning small" data-on:click="@@put('/examples/todomvc/reset')">
            Reset
        </button>
    </div>
</section>